<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RecipeName</key>
	<array>
		<string>高鐵客服</string>
		<string>台鐵客服</string>
		<string>台北捷運客服</string>
		<string>高雄捷運客服</string>
		<string>桃園機場-第一航廈</string>
		<string>桃園機場-第二航廈</string>
		<string>台北松山機場-國際線</string>
		<string>台北松山機場-國內線</string>
		<string>高雄小港機場-國際線</string>
		<string>高雄小港機場-國內線</string>
		<string>中華航空</string>
		<string>立榮航空</string>
		<string>長榮航空</string>
		<string>華信航空</string>
		<string>復興航空</string>
		<string>遠東航空</string>
		<string>德安航空</string>
		<string>三重客運</string>
		<string>國光客運</string>
		<string>日統客運</string>
		<string>台中客運</string>
		<string>和欣客運</string>
		<string>統聯客運</string>
		<string>阿羅哈客運</string>
		<string>新竹客運</string>
	</array>
	<key>Thumbnail</key>
	<array>
		<string>recipes3-0.png</string>
		<string>recipes3-1.png</string>
		<string>recipes3-2.png</string>
		<string>recipes3-3.png</string>
		<string>recipes3-4.png</string>
		<string>recipes3-4.png</string>
		<string>recipes3-5.png</string>
		<string>recipes3-5.png</string>
		<string>recipes3-6.png</string>
		<string>recipes3-6.png</string>
		<string>recipes3-7.png</string>
		<string>recipes3-8.png</string>
		<string>recipes3-9.png</string>
		<string>recipes3-10.png</string>
		<string>recipes3-11.png</string>
		<string>recipes3-12.png</string>
		<string>recipes3-13.png</string>
		<string>recipes3-14.png</string>
		<string>recipes3-15.png</string>
		<string>recipes3-16.png</string>
		<string>recipes3-17.png</string>
		<string>recipes3-18.png</string>
		<string>recipes3-19.png</string>
		<string>recipes3-20.png</string>
		<string>recipes3-21.png</string>
	</array>
	<key>Phone</key>
	<array>
		<string>0240663000</string>
		<string>0221910096</string>
		<string>0221812345</string>
		<string>077938888</string>
		<string>033982143</string>
		<string>033983274</string>
		<string>0287703430</string>
		<string>0287703460</string>
		<string>078057631</string>
		<string>078057630</string>
		<string>0227151212</string>
		<string>0225185166</string>
		<string>0800098666</string>
		<string>0225142050</string>
		<string>024498123</string>
		<string>0227121555</string>
		<string>078069397</string>
		<string>0800090607</string>
		<string>0800010138</string>
		<string>055326167</string>
		<string>0800800126</string>
		<string>0800002377</string>
		<string>0800241560</string>
		<string>0800043168</string>
		<string>035225151</string>
	</array>
	<key>TextPhone</key>
	<array>
		<string>02-4066-3000</string>
		<string>02-2191-0096</string>
		<string>02-2181-2345</string>
		<string>07-7938-888</string>
		<string>03-3982-143或144</string>
		<string>03-3983-274或294</string>
		<string>02-8770-3430</string>
		<string>02-8770-3460</string>
		<string>07-8057-631</string>
		<string>07-8057-630</string>
		<string>02-2715-1212</string>
		<string>02-2518-5166</string>
		<string>0800-098-666</string>
		<string>02-2514-2050</string>
		<string>02-4498-123</string>
		<string>02-2712-1555</string>
		<string>07-8069-397</string>
		<string>0800-090-607</string>
		<string>0800-010-138</string>
		<string>05-5326-167</string>
		<string>0800-800-126</string>
		<string>0800-002-377</string>
		<string>0800-241-560</string>
		<string>0800-043-168</string>
		<string>03-5225-151轉8</string>
	</array>
</dict>
</plist>
