<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RecipeName</key>
	<array>
		<string>校園罷凌專線</string>
		<string>兒童保護專線</string>
		<string>兒童燙傷專線</string>
		<string>兒童失蹤通報</string>
		<string>失蹤老人通報</string>
		<string>家庭扶助中心</string>
		<string>戒煙專線</string>
		<string>消費者文教基金會</string>
		<string>平交道緊急事故</string>
		<string>台電客服專線</string>
		<string>台電申訴專線</string>
		<string>自來水公司</string>
		<string>警廣路況通報</string>
		<string>高速公路拖吊申訴-北區</string>
		<string>高速公路拖吊申訴-中區</string>
		<string>高速公路拖吊申訴-南區</string>
		<string>國稅局</string>
		<string>停班停課查詢</string>
		<string>公路總局災害應變中心</string>
	</array>
	<key>Thumbnail</key>
	<array>
		<string>recipes1-0.png</string>
		<string>recipes1-1.png</string>
		<string>recipes1-2.png</string>
		<string>recipes1-3.png</string>
		<string>recipes1-4.png</string>
		<string>recipes1-5.png</string>
		<string>recipes1-6.png</string>
		<string>recipes1-7.png</string>
		<string>recipes1-8.png</string>
		<string>recipes1-9.png</string>
		<string>recipes1-9.png</string>
		<string>recipes1-10.png</string>
		<string>recipes1-11.png</string>
		<string>recipes1-12.png</string>
		<string>recipes1-12.png</string>
		<string>recipes1-12.png</string>
		<string>recipes1-13.png</string>
		<string>recipes1-14.png</string>
		<string>recipes1-15.png</string>
	</array>
	<key>Phone</key>
	<array>
		<string>0800200885</string>
		<string>0800422110</string>
		<string>0225224690</string>
		<string>0800049880</string>
		<string>0225971700</string>
		<string>0223516948</string>
		<string>0800636363</string>
		<string>0227001234</string>
		<string>0800800333</string>
		<string>0800231213</string>
		<string>0800231231</string>
		<string>0800000876</string>
		<string>0800000123</string>
		<string>0227936555</string>
		<string>0422529181</string>
		<string>062363201</string>
		<string>0800000321</string>
		<string>0223979298</string>
		<string>0800231034</string>
	</array>
	<key>TextPhone</key>
	<array>
		<string>0800-200-885</string>
		<string>0800-422-110</string>
		<string>02-2522-4690</string>
		<string>0800-049-880</string>
		<string>02-2597-1700</string>
		<string>02-2351-6948</string>
		<string>0800-636-363</string>
		<string>02-2700-1234</string>
		<string>0800-800-333</string>
		<string>0800-231-213</string>
		<string>0800-231-231</string>
		<string>0800-000-876</string>
		<string>0800-000-123轉2</string>
		<string>02-2793-6555轉2206</string>
		<string>04-2252-9181轉3351</string>
		<string>06-2363-201轉2398</string>
		<string>0800-000-321</string>
		<string>02-2397-9298</string>
		<string>0800-231-034</string>
	</array>
</dict>
</plist>
