<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RecipeName</key>
	<array>
		<string>中華電信客服(行動版)</string>
		<string>中華電信客服(市話業務)</string>
		<string>中華電信客服(HINET)</string>
		<string>中華電信障礙申告</string>
		<string>中華電信國際業務</string>
		<string>台哥大客服專用</string>
		<string>台哥大客服</string>
		<string>台哥大繳費</string>
		<string>威寶客服專用</string>
		<string>威寶客服</string>
		<string>亞太客服專用</string>
		<string>亞太客服(行動通訊)</string>
		<string>亞太客服(固網業務)</string>
		<string>遠傳客服專用</string>
		<string>遠傳客服</string>
	</array>
	<key>Thumbnail</key>
	<array>
		<string>recipes2-0.png</string>
		<string>recipes2-0.png</string>
		<string>recipes2-0.png</string>
		<string>recipes2-0.png</string>
		<string>recipes2-0.png</string>
		<string>recipes2-1.png</string>
		<string>recipes2-1.png</string>
		<string>recipes2-1.png</string>
		<string>recipes2-2.png</string>
		<string>recipes2-2.png</string>
		<string>recipes2-3.png</string>
		<string>recipes2-3.png</string>
		<string>recipes2-3.png</string>
		<string>recipes2-4.png</string>
		<string>recipes2-4.png</string>
	</array>
	<key>Phone</key>
	<array>
		<string>800</string>
		<string>0800080123</string>
		<string>0800080412</string>
		<string>0800080128</string>
		<string>0800080100</string>
		<string>188</string>
		<string>0266062999</string>
		<string>579</string>
		<string>123</string>
		<string>0800661234</string>
		<string>999</string>
		<string>024057999</string>
		<string>0240580999</string>
		<string>888</string>
		<string>024495888</string>
	</array>
	<key>TextPhone</key>
	<array>
		<string>手機直播800(限中華門號)</string>
		<string>0800-080-123</string>
		<string>0800-080-412</string>
		<string>0800-080-128</string>
		<string>0800-080-100</string>
		<string>手機直播188(限台哥大門號)</string>
		<string>02-6606-2999</string>
		<string>579(限台哥大門號)</string>
		<string>123(限威寶門號)</string>
		<string>0800-661-234</string>
		<string>999(限亞太門號)</string>
		<string>02-4057-999</string>
		<string>02-4058-0999</string>
		<string>888(限遠傳門號)</string>
		<string>02-4495-888</string>
	</array>
</dict>
</plist>
