<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RecipeName</key>
	<array>
		<string>手機緊急電話</string>
		<string>家暴通報專線</string>
		<string>消防局、醫院</string>
		<string>警局、交通事故</string>
		<string>反詐騙專線</string>
		<string>生命線</string>
		<string>救國團張老師</string>
		<string>消費者保護專線</string>
		<string>各縣市市民熱線</string>
		<string>高速公路路況</string>
		<string>台水服務專線</string>
		<string>台電停電搶修</string>
		<string>中油服務專線</string>
		<string>疫管局防疫專線</string>
		<string>報平安專線</string>
		<string>弱勢關懷專線</string>
		<string>外籍勞工諮詢保護專線</string>
		<string>國防部服務諮詢專線</string>
		<string>財政部服務諮詢專線</string>
		<string>內政部服務諮詢專線</string>
		<string>查號台</string>
		<string>英文查號台</string>
		<string>報時台</string>
		<string>氣象台</string>
		<string>海巡報案</string>
	</array>
	<key>Thumbnail</key>
	<array>
		<string>recipes0-0.png</string>
		<string>recipes0-1.png</string>
		<string>recipes0-2.png</string>
		<string>recipes0-3.png</string>
		<string>recipes0-4.png</string>
		<string>recipes0-5.png</string>
		<string>recipes0-6.png</string>
		<string>recipes0-7.png</string>
		<string>recipes0-8.png</string>
		<string>recipes0-9.png</string>
		<string>recipes0-10.png</string>
		<string>recipes0-11.png</string>
		<string>recipes0-12.png</string>
		<string>recipes0-13.png</string>
		<string>recipes0-14.png</string>
		<string>recipes0-15.png</string>
		<string>recipes0-16.png</string>
		<string>recipes0-17.png</string>
		<string>recipes0-18.png</string>
		<string>recipes0-19.png</string>
		<string>recipes0-20.png</string>
		<string>recipes0-21.png</string>
		<string>recipes0-22.png</string>
		<string>recipes0-23.png</string>
		<string>recipes0-24.png</string>
	</array>
	<key>Phone</key>
	<array>
		<string>112</string>
		<string>113</string>
		<string>119</string>
		<string>110</string>
		<string>165</string>
		<string>1995</string>
		<string>1980</string>
		<string>1950</string>
		<string>1999</string>
		<string>1968</string>
		<string>1910</string>
		<string>1911</string>
		<string>1912</string>
		<string>1922</string>
		<string>1991</string>
		<string>1957</string>
		<string>1955</string>
		<string>1985</string>
		<string>1988</string>
		<string>1996</string>
		<string>105</string>
		<string>106</string>
		<string>117</string>
		<string>166</string>
		<string>118</string>
	</array>
	<key>TextPhone</key>
	<array>
		<string>112</string>
		<string>113</string>
		<string>119</string>
		<string>110</string>
		<string>165</string>
		<string>1995</string>
		<string>1980</string>
		<string>1950</string>
		<string>1999</string>
		<string>1968</string>
		<string>1910</string>
		<string>1911,申請用電,搶修停電</string>
		<string>1912,工安,災害,路平管線通報</string>
		<string>1922,疫情升溫通報,防疫通報</string>
		<string>1991,報平安或瞭解親友狀況</string>
		<string>1957,臨時需要緊急幫助</string>
		<string>1955</string>
		<string>1985</string>
		<string>1988</string>
		<string>1996</string>
		<string>105</string>
		<string>106</string>
		<string>117</string>
		<string>166</string>
		<string>118</string>
	</array>
</dict>
</plist>
